<div class="category-card">
  <%= image_tag "#{category.name.downcase}.jpg", class: "category-image", alt: category.name %>
  <div class="category-card-body ">
    <h5 class="category-card-title pb-2"><%= category.name %></h5>
  </div>
</div>
