<%= link_to root_path do %>
<div class="category-card">
  <%= image_tag "#{category.name.downcase}.jpg", class: "category-image", alt: category.name %>
  <div class="category-card-body">
    <h5 class="category-card-title"><%= category.name %></h5>
  </div>
</div>
<% end %>
