.scroll-menu {
	width:100%;
	overflow: auto;
	white-space: nowrap;
	margin: auto;
	justify-content: space-evenly;
	&::-webkit-scrollbar {
	 width: 0 !important;
	 }
}

.home-title{
	font-weight:600;
	padding-left: 5px;
	i {
		font-weight: 200;
    font-size: 19px;
	}
}

