.provider-all-info {
	width:100%;
	padding-left:5px;
  padding-right:5px;
  line-height: 1.1;
}

.provider-all-info p {
	font-family: "Raleway", "Helvetica", "sans-serif";
	font-weight: 300;
}

a#fav {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;

  i {
    font-size: 1.5em;
  }
}
i.active {
  color: $yellow !important;
}

i.inactive {
  color: $yellow !important;
}

.rating-review{
	display: flex;
	align-items: baseline;
}

.provider-rating {
	margin-right: 10px;
}

.provider-all-info h2 {
	margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
  font-weight: 400;
  font-size: 1.3em;

}

.provider-rating{
  margin-bottom: 2px;
  margin-left: 3px;
  margin-right: 3px;
  width: auto;
	// height: auto;
  font-size: 1em;
}

.rating-review i{
  color: purple;
  padding-right: 3px;
  font-size: 1.3em;
}

#review-count {
  font-size: 0.8em;
}


.provider-basic-info h2 {
    color: black;
}

.provider-description {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3px;
  margin-right: 3px;
	font-size: 1em;
  display: -webkit-box;
  // max-width: 100%;
  height: 41px;
  line-height: 1.2;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;

	&.active {
		height:100px;
	}
}

#see-more {
  margin-top: 0;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 0.7em;
}

.provider-tab-link {
	color: black !important;
	background-color: white !important;
	font-weight:300;
	font-size: 1em;
	&.active{
    		text-decoration: underline;
    		font-weight: 400;
    		background-color: white !important;
    		// font-size: 20px;
    	}
    }

.provider-tabs{
  margin-top: 0;
  justify-content: space-evenly;
  border-bottom-style: solid;
  border-bottom-width: 0.8px;
  border-bottom-color: $light-gray;

}

.provider-tab {
	width: 50%;
	text-align: center;
	font-size:1em;
	font-family: $body-font;
	font-weight: 300;
	border-style:none;

	}

.details-container {
	margin-bottom: 20px;
	font-size: 1em;
	font-family: "Raleway", "Helvetica", "sans-serif";
	font-weight: 300;
}

.tab-content {
  padding-bottom: 50px;
}
