.search-section {
	padding-top: 5px;
  padding-bottom: 2px;
  background-color:$dark-purple;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
	color:black;

	.back-icon {
        font-size: 25px;
        margin-right: 18px;
        margin-left: 18px;
        color: white;
    }

    .form-control {
    	width: 74%;
    	font-family: $body-font;
    	font-weight: 400;
      height: 30px;
    	&:focus{
    	border-color: $dark-purple;
    	}

    }


	.form-control:focus + .btn{
		background-color: $yellow;
		color: black;

	}


    .btn {
    	width: 20%;
    	color: white;
    	background-color: $dark-purple;
    	border-style: none;
    	padding-left: 10px;
    	padding-right: 10px;
    	font-family:$body-font;
    	margin-left: 9px;
    	margin-right: 9px;
	    border-radius: 5px;

    	&:active{
    		text-decoration: underline;
    		font-weight: 600;
    		color:$dark-purple;
    	}
    }

}

.search-tabs {
	justify-content: space-evenly;
	font-family: $body-font;
	padding-top:5px;
    background-color: $dark-purple;
    height: 62px;

	.search-tab{
		display: flex;
		align-items:center;
        margin-top:-8px;
        width: 30%;
        div{
            display: inline-block;
            // border: 2px solid #f00;
            font-size:14px;
        }
        #map-icon {
           margin-bottom: -7px;
        }
        #map-icon-text {
            margin-bottom: -8px;
        font-size: 14px;
        }

	}
}

.search-tab-link {
	color: white !important;
    background-color: $dark-purple!important;
	border-style: none;
	font-weight:400;
	font-size: 17px;
    width:100%;
    text-align:center;
	&.active{
        border:none;
        background-color: $dark-purple;
        color:$yellow !important;
		text-decoration: none !important;
        font-size: 20px;
        margin-bottom:2px;
        border-top-style: solid !important;
        border-color:$yellow!important;
		// font-size: 20px;
    	}
}

.all-providers {
	margin-bottom: 19%;

}

.filters {
    display: flex;
    justify-content: space-evenly;
}


.sort-bit{
    display: flex;
    justify-content: left;
    align-items: center;
    .dropdown-item {
        width: 23%;
    }
}

.category-bit {
    display: flex;
    justify-content: left;
    align-items: center;
    input {
        width: 23%;
    }
}

.filter-tabs{
    display: flex;
    justify-content: space-evenly;
    background-color: $dark-purple;
    .btn-group {
        width:30%;
    }
    .btn{
        width:100%;
        color: white !important;
    }
}

#pills-map-tab {
    text-align: center;
    display: grid;
    padding-top: 9px;
    margin-top:-3px;
}


