<div class="banner d-flex flex-column align-items">
 <div class="logo mb-auto m-0 p-0">
    <%= image_tag 'gojalan-logo-trans.png', id: "logo" %>
  </div>

  <div class="banner-container d-flex flex-column ml-2">

    <div class="banner-text">
       <h1><strong>Get a life!</strong></h1>
    </div>

    <div class="search mb-3">
      <%= form_tag results_path, method: :get, class: "d-flex mx-auto justify-content-center" do %>
        <div class="input-group">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find something to do" %>
        </div>
      <% end %>
    </div>

  </div>
</div>

