<div class="activity d-flex flex-column w-100">
  <div class="row d-flex flex-column pt-3 w-100">
    <nav>
      <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">My Likes</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">My Favourites</a>
      </div>
    </nav>
    <div class="tab-content mt-3" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <% if @likes.empty? %>
          <p>You haven't liked any reviews yet.</p>
        <% else %>
          <% @likes.each do |like| %>
            <div class="like">
              <%= render "components/review_card_small", review: like.review %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <% if @favs.empty? %>
          <p>You haven't favourite anything yet.</p>
        <% else %>
          <% current_user.favourites.each do |fav| %>
               <%= render "components/provider_card_small", provider: fav.provider %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
