<%= render "shared/banner" %>

<h4 class="ml-1 mt-4 home-title">Explore</h4>
<div class="scroll-menu">
  <%= render "shared/slider" %>
</div>

<div class="review-cards d-flex flex-column">
  <h4 class="ml-1 home-title">Live It! <i>(People's Awesome Moments)</i> </h4>
  <div class="row mw-100 p-0 m-0">
    <% @reviews.each do |review| %>
      <div class="review-card col-6 mw-50 p-0 m-0">
         <%= render "components/review_card_small", review: review %>
      </div>
    <% end %>
  </div>
</div>
