<div class="row">
  <%= render "shared/banner" %>
</div>
<div class="row">
  <%= render "shared/slider" %>
</div>

<div class="row">
  <p><%= link_to "All Providers", providers_path %></p>
  <p><%= link_to "All Reviews", reviews_path %></p>
</div>


