.banner {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 30vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                  url("banner.jpg");

  h1 {
    margin-left: 0;
    margin-top: 100px;
    margin-bottom: 0;
    padding-top: 100px;
    color: white;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
    vertical-align: center;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .search {
    padding-top: 50px;
  }


}
