.banner {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 25vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("banner.jpg");
  z-index: 11;

  .banner-container{
    margin-left: 10px;
    margin-right: 10px;
  }

  .banner-container h1 {
    margin-left: 0;
    margin-top: 20%;
    margin-bottom: 0;
    color: white;
    font-family: $body-font;
    font-size: 40px;
    font-weight: 500;
    vertical-align: center;
    text-align: left;
    color:$yellow;

    strong {
      font-weight: 600;
      font-size: 40px;
      color:white;
    }
  }

  .search {
    padding-top: 5%;
    width: 96%;
    font-family: $body-font;
  }


  p {
    font-size: 20px;
    color: white;
    opacity: .7;
  }

}

.banner-background-hide {
  background-image: none;
}

.banner-content-hide {
  display: none;
}

.banner-container-hide {
  margin: 0 !important;
}

.search-white {
  background-color: $white;
  padding: 10px !important;
  width: 100% !important;
}

.banner-search {
  padding: 10px;
  background-color: $yellow;
}

.fa-search {
  color: $yellow;
}

#logo {
  width: 100px;
  position: fixed;
  top: 9px;
  left: 10px;
  z-index: -1;
}
