.category-card {
  width: 140px;
  height: 120px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 5px;
  text-align: center;
  margin-right: 3px;
}

.category-image {
    width: 140px;
    height: 80px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

.category-card-body{
    height: 50px;
    display: flex;
    align-items: center;
  }

.category-card-title {
    margin: auto;
    font-size: 15px;
    font-weight: 300;
    color: $gray;
    align-items: left;
  }

