
input[type="radio"]:checked + section { display: block; }

.container section h1 {
  margin-bottom: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  font-size: 2em;
}

.container section p {
  width: 75%;
  margin: 0 auto;
  padding: 10px;
}

.container section label {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
  bottom: 0;
}

.carousel-item{
  img{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.container section label:nth-child(odd) { right: 120px; }

.container section label:nth-child(even) { left: 120px; }

.container section > i {
  font-size: 6em !important;
  margin-top: 50px;
  margin-bottom: 25px;
}
