.nav-bar {
    background-color: white;
    font-family: $body-font;
    font-weight: 400;
    font-size: 0.9em;
    width: 100%;
    border-top: 1px solid #ced4da;
    height: 6%;
    padding-top: 1%;
    z-index: 11;

  p {
    margin: 0;
    padding: 0;
    color: $light-gray;
  }

  ul {
    height:100%;
    margin: 0;
    padding: 0;
  }

  .nav-icon {
    font-size: 1.2em;
    margin-bottom: 6%;
  }

  a {
    color: #484848;
    text-decoration: none;
  }
}

.icon {
  color: $light-gray !important;
}

.active-page {
  color: $purple !important;
  font-weight: bold;
}
