.nav-bar {
    background-color: white;
    font-family: $body-font;
    font-weight: 500;
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ced4da;
    height: 9%;
    padding-top: 3.25%;
  p {
    margin: 0;
    padding: 0;
    color: $light-gray;
  }

  ul {
    height:100%;
    margin: 0;
    padding: 0;
  }

  .nav-icon {
    font-size: 23px;
    margin-bottom: 6%;
  }

  .nav-buttons {
    width:100%;
    margin:auto;
  }

  .nav-text a {
    color: #484848;
  }
}

.icon {
  color: $light-gray !important;
}

.active-page {
  color: $purple !important;
  font-weight: bold;
}
