.provider-card-small {
  p {
    margin-top: 5px !important;
    line-height: 1.1;
    font-size: 14px;
    font-weight: 400;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 28px;
    margin: 0 auto;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px; 
}


  h5 {
    margin: 0;
  }
}

.provider-image {
    position: relative;

  img {
    height: 100%;
    width: 128px;
    object-fit: cover;
  }
  i {
    position: absolute;
    left: 9px;
    top: 9px;
    color: $white;
    font-size: 16px;
    .active {
      color: $purple;
    }
  }

}

.provider--card-rating {
  width: 50px;
  margin-top: 5px;
}

.provider-info h6 {
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: -webkit-box;
    max-width: 100%;
    height: 32px;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px; 
}

.provider-price {
  font-size: 15px;
  padding-bottom: 5px;
  padding-right: 7px !important;
}

.to-provider {
  width: 100%;
  color: black;
}
