<div class="review-show-container">
  <% if @previous %>
    <%= link_to "previous", review_path(@previous) %>
  <% end %>
  <%= render 'components/review_card_big' %>
  <div class="scroll-container"></div>
  <% if @next %>
    <%= link_to "next", @next, class: "review-next-button" %>
  <% end %>

